name: Links (Fail Fast)

on:
  pull_request:
    branches:
      - main

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4.3'

      - name: Install R packages
        run: |
          Rscript -e 'install.packages("fs")'
        shell: bash

      - name: Switch .qmd to .md and Update Links
        run: Rscript R/switch.R
        shell: bash

      - name: Verify .qmd Conversion
        run: |
          if ls **/*.qmd; then
            echo "Error: .qmd files still exist after switch.R!"
            exit 1
          fi
          echo "All .qmd files successfully converted to .md."

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.8.0
        with:
          fail: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}